
body{
    background-color: bisque;
}

h1 {
text-align: center;    
}


table, td {
    border: 1px solid black;
    margin: 0 auto;
    vertical-align: center;
    background-color: lightgray;
  
}

fieldset {
margin: 0 auto;
background-color: beige;
}